services:
   nginx:
     environment:
      - NGINX_PORT=8700
     configs: 
         - source: nginx_conf_prod
           target: /etc/nginx/templates/default.conf.template
     ports: 
        - 8700:8700
     networks:
         - shared-swarm-net-prod

   elasticsearch:
     networks:
         - shared-swarm-net-prod

   logstash:
      networks:
         - shared-swarm-net-prod
    
   kibana:
     networks:
         - shared-swarm-net-prod

      
