secrets:
     ssl_cert:
       file: /home/${VM_USER}/${APPNAME}/certs/fullchain.pem
     ssl_key:
       file: /home/${VM_USER}/${APPNAME}/certs/privkey.pem


services:
   nginx:
     environment:
      - NGINX_PORT=8700
     configs: 
         - source: nginx_conf_prod
           target: /etc/nginx/templates/default.conf.template
     secrets:
      - source: ssl_cert
        target: /etc/nginx/ssl/live/${AZURE_VM_DOMAIN}/fullchain.pem
      - source: ssl_key
        target: /etc/nginx/ssl/live/${AZURE_VM_DOMAIN}/privkey.pem
     ports: 
        - 8700:8700
     networks:
         - shared-swarm-net-prod

   elasticsearch:
     networks:
         - shared-swarm-net-prod

   logstash:
      networks:
         - shared-swarm-net-prod
    
   kibana:
     networks:
         - shared-swarm-net-prod

      
