services:
  nginx:
    environment:
      - NGINX_PORT=8700
    ports: 
        - 8700:8700
    volumes:
    - /etc/letsencrypt/live/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/live/${AZURE_VM_DOMAIN}:ro 
    - /etc/letsencrypt/archive/${AZURE_VM_DOMAIN}:/etc/nginx/ssl/archive/${AZURE_VM_DOMAIN}:ro    
    - /etc/letsencrypt/options-ssl-nginx.conf:/etc/nginx/options-ssl-nginx.conf:ro 
    - /etc/letsencrypt/ssl-dhparams.pem:/etc/nginx/ssl-dhparams.pem:ro