name: Deploy ELK stack

on: 
 workflow_dispatch:
   inputs:
     environment:
        type: choice
        description: "Specify the environment(dev or prod)"
        options:
          - dev
          - prod
        required: true
        default: 'dev'
      
     tag:
      description: "Specify the image tag to be pulled for prod"
      required: false

env:
 TAG: ${{ github.run_id }} 
#  DOCKERHUB_USER: ${{vars.DOCKERHUB_USERNAME}}
#  APPNAME: ${{vars.APP_NAME}}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{vars.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}
              # added the dockerhub username as repo variable and password as repo secret
      
      - name: Validate PROD inputs
          # for prod deployments the tag input from the user must not be empty. -z does the empty string check
        run: |
          if [[ "${{ github.event.inputs.environment }}" == "prod" && -z "${{ github.event.inputs.tag }}" ]]; then
          echo "ERROR: tag is required for PROD deployments"
             exit 1
             fi
          
      - name: Set conditional env
      # for prod we set the value of the tab env variable to the tag input provided by the user.
        run: |
          if [[ "${{ github.event.inputs.environment }}" == "prod" ]]; then
          echo "TAG=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
          fi


      - name: Build Docker image for logstash
        if: ${{ github.event.inputs.environment == 'dev' }}
        uses: docker/build-push-action@v5
        with:
          push: true  # so that image is pushed to Dockerhub as well
          context: .   # this ensures the paths in the Dockerfile work as expected
          file: ./logstash/Dockerfile  # this ensures the Dockerfile is located in the correct folder
          tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}-logstash:${{env.TAG}}
      
      - name: Copy compose files to VM
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.AZURE_VM_IP }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          source: "docker-compose.yml"
          target: "/home/${{ secrets.AZURE_VM_USER }}/${{vars.APP_NAME}}"
      
      - name: Deploy to Azure VM
        uses: appleboy/ssh-action@v1.0.3
            # the action requires the parameters specified under with:
        with:
          host: ${{ secrets.AZURE_VM_IP }}   # asure ip
          username: ${{ secrets.AZURE_VM_USER }} # aszure username
          key: ${{ secrets.AZURE_VM_SSH_KEY }}  # your private key. your public key will be given to azure
          script: |
               cd /home/${{ secrets.AZURE_VM_USER }}/${{vars.APP_NAME}}
               
               cat <<EOF > /home/${{ secrets.AZURE_VM_USER }}/${{vars.APP_NAME}}/.env 
               DOCKERHUB_USER=${{ vars.DOCKERHUB_USERNAME }} 
               APPNAME=${{ vars.APP_NAME }}
               TAG=${{ env.TAG }}  
               EOF

               docker compose -p ${{vars.APP_NAME}}-${{ github.event.inputs.environment }} -f docker-compose.yml pull
               docker compose -p ${{vars.APP_NAME}}-${{ github.event.inputs.environment }} -f docker-compose.yml up -d --remove-orphans --no-build